<%
if @admin_message.id
  # for edit
  url = "#{admin_message_path(@admin_message)}"
else
  # for new
  url = "#{admin_messages_path}"
end
%>

<%= form_for(@admin_message,:url => url) do |f| %>
  <% if @admin_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_message.errors.count, "error") %> prohibited this admin_message from being saved:</h2>

      <ul>
      <% @admin_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :ascii %><br />
    <%= f.check_box :ascii %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
