<p id="notice"><%= notice %></p>


<% if current_user %>
<p>You can send  <%= current_user.today_limit   %> messages for today, and you have <%= current_user.amount_limit  %> Messages </p>
<p><%= link_to 'Send message', new_path %></p>
<p><%= link_to 'Profile Management', edit_profile_path %></p>
<p><%= link_to 'Show Profile', profile_path %></p>
<p><%= link_to 'New subscription', new_subscription_path %></p>
<p><%= link_to 'Logout',logout_path %></p>
<%else%>
<p><%= link_to 'Send message', new_path %></p>
<p><%= link_to 'Login',login_path %></p>
<p><%= link_to 'Sign Up',signup_path %></p>
<%end%>


