<p id="notice"><%= notice %></p>
<h1>Home Page</h1>
<div><%= link_to 'Signup',signup_path %></div>

<div><%= link_to 'User Management', admin_users_path %></div>

<div><%= link_to 'Login',login_path %></div>
<div><%= link_to 'Logout',logout_path %></div>
