<p id="notice"><%= notice %></p>

<p>
  <b>Package:</b>
  <%= @subscription.package %>
</p>

<p>
  <b>User:</b>
  <%= @subscription.user %>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
