<h1>Listing admin_subscriptions</h1>

<table>
  <tr>
    <th>Package</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_subscriptions.each do |admin_subscription| %>
  <tr>
    <td><%= admin_subscription.package %></td>
    <td><%= admin_subscription.user %></td>
    <td><%= link_to 'Show', admin_subscription_path(admin_subscription) %></td>
    <td><%= link_to 'Edit', edit_admin_subscription_path(admin_subscription) %></td>
    <td><%= link_to 'Destroy', admin_subscription_path(admin_subscription), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subscription', new_admin_subscription_path %>
